body {
    display: grid;
    grid-template-rows: 80vh 20vh;
    row-gap: 20px;

    background-color: rgb(0, 0, 0);
    margin:0px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"width" 100;
    font-size: 16px;
    height: 100vh;
  }
  body::-webkit-scrollbar {
    display: none;
}
  .section_1{
    display: grid;
    grid-template-columns: auto auto; /* Define your grid columns */
    grid-column-gap: 1px;
   
  }
  .section_2{

  }
  /*Side bar styling*/
  .side_bar{
    display: flex;
    flex-direction: column;
    position: relative;
   margin: 10px 0 0 10px;
    width:300px;
    height: 80vh;
    grid-column-start: 1;
    grid-column-end: 3;
}
svg{
   fill: white;
}
.side_bar1_upper{
    background-color: #121212;
    border-radius: 10px 10px 0px 0px;
}
.side_bar1_upper svg{
    width: 78px;
    height: inherit;
    padding-left: 24px;
    padding-right: 24px;
    margin-top:16px ;
}
.side_bar1_lower{
    background-color: #121212;
    border-radius: 0px 0px 10px 10px;
    padding: 8px 12px 8px 12px;
    color: white;
}

.icon svg{
    width: 24px;
    height: inherit;
    padding-top:8px;
    
}

.lower1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 4px 12px 4px 12px;
    height: 40px;
}
.lower2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 4px 12px 4px 12px;
    height: 40px;
}

.side_bar2{
    margin-top: 5px;
    background-color: #121212;
    border-radius: 10px;
}

.library svg{
    width: 24px;
    height: inherit;
    fill: #a7a7a7;
}

.library{
    padding: 8px 16px 8px 16px;
    gap:20px;
    color: #a7a7a7;
    display: flex;
    flex-direction: row;
}

.plusicon svg{
    width:16px;
    height: 16px;
    padding: 9px;
}

.content{
    padding-top:7px ;
}

.information{
    width:300px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 8px 0px 8px;
}

.playlist{
    width: 244px;
    height: 102px;
    background-color: #242424;
    padding:16px 20px 16px 20px;
    margin:8px 0px 8px 0px;
    border-radius: 10px 10px 0px 0px;
}

.playlist h3 {
    font-size: 16px;
    font-weight:medium bold;
    color: white;
}

.playlist p {
    font-size: 14px;
    color:white;
    
}

.other{
    width: 300px;
    height: 237px;
}

.info{
    width: 252px;
    height: 87px;
    padding:0px 24px 0px 24px;
    margin: 32px 0px 32px 0px;
    color: white;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    gap:16px;
    color: #a7a7a7;
}
.legal{
    display: flex;
    justify-content: flex-start;
    gap:16px;
    flex-direction: row;
}
  /*End here*/
  .item {
    min-width: 140px;
    width: 160px;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
  }
  .item:hover {
    background-color: #252525;
  }
  .item img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  .item .play {
    position: relative;
  }
  .item .play .fa {
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
  }
  .item:hover .play .fa {
    opacity: 1;
    transform: translateY(-20px);
  }
  .item h4 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .item p {
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
  }
  .main_section{
    background-color: #181818;
    border-radius: 10px;
    grid-column-start: 3;
    grid-column-end: 12;
    height: 80vh;
    margin: 10px 10px 50px 0;
    overflow: auto;
  }
  .main_section::-webkit-scrollbar{
    display: none;
  }
  
  
  .header{
    border-radius: 10px;
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center;
   
  }
  .header_div1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  }
  .header_div1 div{
  background-color: rgb(0, 0, 0);
  color:rgb(110, 105, 105); 
  font-weight: bolder;
  font-size: 1.5rem;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  }
  .header_div2{
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  .header_div2 .button1{
   color: rgb(182, 176, 176);
    font-size: 1rem;
    font-weight: bold;
    background: transparent;
    outline: none;
    border: none;
  }
  .header_div2 .button2{
    color: black;
     font-size: 1rem;
     font-weight: bold;
     outline: none;
     border: none;
     background-color: white;
     border-radius: 25px;
     padding: 15px 25px;
  
   }
   .section1_div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 15px;
   }
   .title p{
    font-size: 2rem;
    font-weight: bold;
    color: white;
   }
   .showall{
    font-size: 1.1rem;
    color:#989898;
    font-weight: bold;
   }
   .list{
    display: flex;
   gap: 10px;
   }
   .section1{
    overflow: hidden;
   }
   .footer{
    padding-top: 40px;
    padding-bottom: 40px;
  
   }
   .footer_link{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
   }
   .footer_link_div{
    display: flex;
    flex-direction: column;
    gap: 9px;
    color: #989898;
    font-weight: bold;
   }
   .link_heading{
    color: white;
    font-size: 1.1rem;
   }
  .sub_links:hover{
    color: white;
    text-decoration: underline;
    
    cursor: pointer;
  }
  .Social_link{
    display: flex;
   gap: 10px;
   color: white;
   font-size: 1.2rem;
  }
  .Social_link div{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Social_link div:hover{
    background-color: #989898;
  }
  .copy_right{
    padding: 20px 30px;
    color: #989898;
    font-size: 0.9rem;
  }
  .copy_right p{
    padding-top: 30px;
  }
  
  hr {
    border-color: rgb(27, 27, 27); /* Change the color to red */
    /* Change the height to 5 pixels */
  }
  
  /*music player style*/
  .music-player{
    background-color: #111;
    display: flex;
    justify-content: center;;
    align-items: center;
    position: relative;
    height: 7rem;
   margin: 0 10px;
    color: #ddd;
    border-radius: 10px;
  
}
.song-bar{
    position:absolute;
    left: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5em;
    width: 25%;
}
.song-info{
    display: flex;
    align-items: center;
    gap: 1em;
}
.song-description p{
    margin: 0.2em;
}
.image-container{
    width: 4.5em;
    height: 4.5em;
    flex-shrink: 0;

}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title,
.artist{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.artist{
    color: #999;
}
.icons{
    display: flex;
    gap: 1em;

}
.progress-controller{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    color: #999;

}
.control-buttons{
    display: flex;
    align-items: center;
    gap: 2em;

}
.play-pause{
    display: inline-block;
    padding: 1em;
    background-color: #ddd;
    color: #111;
    border-radius: 50%;
}
.play-pause:hover{
    transform: scale(1.1);
    color: #111;
}
i{
    color: #ddd;
}
i:hover{
    color: #999;

}
.progress-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.progress-bar{
    height: 4px;
    border-radius:10px ;
    width: 30%;
    background-color: #ccc4;

}
.progress{
    position: relative;
    height: 100%;
    width:30%;
    border-radius: 10px;
    background-color: #999;
}
.progress-bar:hover .progress{
    background-color: #2d5;
}
.progress-bar:hover .progress::after{
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    right: 0;
    border-radius: 50%;
    background-color: #ddd;
    transform: translate(50%,calc(2px - 50%));
}
.other-features{
    position: absolute;
    right: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.volume-bar{
    display: flex;
    align-items: center;
    gap: .7em;
}
.volume-bar .progress-bar{
    width: 6em;

}

audio {
 /* Set the background color of the audio player to black */
  color: white; /* Set the text color to white */
  width: 500px; /* Set the width of the audio player */
  margin: 20px auto; /* Center the audio player horizontally */
  display: block;


}
audio::-webkit-media-controls-play-button {
  color: white; /* Set the color of the play button (for WebKit browsers) */
}


/*End here*/  